@font-face { font-family: Clattering; src: url('fonts/clattering/Clattering.ttf'); } 
html {
    scroll-behavior: smooth !important;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: black;
    color: white;
    scroll-behavior: smooth !important;
}
.bg-dark{
    background-color: black !important;
}

#homepageImage{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#homepageImage img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    position: absolute;
    top: 20%;
}
a.btn.btn-light {
    width: 35%;
    box-shadow: white 1px 2px 11px 2px;
}
.navbar-brand{
    font-family: Clattering;
    font-size: 32px;
    margin-left: 10px;
}
iframe {
    border: 0;
    box-shadow: black 1px 1px 19px 3px;
}  
.nav-link:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease;
} 
h2{
    font-family: Clattering;
    font-size: 32px;
}
h1{
    font-family: Clattering;
    font-size: 52px;
}
#aboutus{
    background-color: white;
}

.footer{
    background-color: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    #homepageImage  {height: 56vh;}
    #homepageImage img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        position: absolute;
        top: 25%;
    }
    #aboutUsImage  {height: 400px !important;}
    .nav-link{ font-size: 12px;}
}
